
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Cadastro de Informação</title>
</h:head>
<h:body>
	<h:form>
		<h1>Cadastro de Info</h1>
		<!--  Vamos fazer o mesmo exemplo descrito na classe vamos cadastrar "dollar" -->
		<h:panelGrid columns="2" id="pnlInfo">
			<h:outputText id="lbdesc" value="Descrição da Informação" />
			<h:inputText id="desc"
				value="#{infoController.selectedInfo.descricao}" />
			<h:commandButton id="btnsave" value="Salvar info"
				action="#{infoController.salvarInfo()}" />
		</h:panelGrid>
	</h:form>

</h:body>
</html>