<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://xmlns.jcp.org/jsf/html"
xmlns:composite="http://xmlns.jcp.org/jsf/composite"
xmlns:p="http://primefaces.org/ui">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Cadastro de Informações</title>
<h:outputStylesheet library="css" name="bootstrap.min.css"/>
<style type="text/css">
.aviso{ 
    border: 1px solid greenyellow;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    font-weight: bold;
    text-decoration-line: none;
    list-style: none;
    border-radius: 6px;
}
.erro{
     border: 1px solid red;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    font-weight: bold;
    text-decoration-line: none;
    list-style: none;
    border-radius: 6px;
}
.atencao{
    border: 1px solid yellow;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
   color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    font-weight: bold;
    text-decoration-line: none;
    list-style: none;
    border-radius: 6px;
}
</style>
</h:head>
<h:body>
<h:form>
		<h1>Cadastro de Info</h1>
		<hr/>
		<!--  Vamos fazer o mesmo exemplo descrito na classe vamos cadastrar "dollar" -->
		<h:messages errorClass="erro" infoClass="info" warnClass="atencao"/>
		<h:panelGrid columns="2" id="pnlInfo">
			<h:outputText id="lbdesc" value="Descrição da Informação" />
			<p:inputText id="desc"
				value="#{infoController.selectedInfo.descricao}" />
			
			<h:commandButton id="btnsave" value="Salvar info" styleClass="btn btn-success"
				action="#{infoController.salvarInfo()}" />
				<h:button outcome="index.jsf" value="Voltar"></h:button>
		</h:panelGrid>
	</h:form>
</h:body>
</html>