<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://xmlns.jcp.org/jsf/html"
xmlns:p="http://primefaces.org/ui">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Grafico View</title>
</h:head>
<h:body>
<h:form>
<p:chart type="line" model="#{infoValoresController.linearModel}" style="height:300px;"/>
<!--  Teste -->
<br/>
<center>
<h:commandButton id="criar" value="Atualizar" action="#{infoValoresController.createLineModel()}"></h:commandButton>
<h:button outcome="index.jsf" value="Voltar"></h:button>
</center>
</h:form>
</h:body>
</html>